@{
    ViewBag.Title = "補充應用 (1)";
}
<div>
    <table id="list2"></table>
    <div id="pager2"></div>
</div>
<script type="text/javascript">
    $(function () {

        var data = [
            { id: "12345", name: "Desktop Computer", note: "note", stock: "Yes", ship: "FedEx", sdate: "2007-12-03" },
            { id: "23456", name: "Laptop", note: "Long text ", stock: "Yes", ship: "InTime", sdate: "2007-12-03" },
            { id: "34567", name: "LCD Monitor", note: "note3", stock: "Yes", ship: "TNT", sdate: "2007-12-03" },
            { id: "45678", name: "Speakers", note: "note", stock: "No", ship: "ARAMEX", sdate: "2007-12-03" },
            { id: "56789", name: "Laser Printer", note: "note2", stock: "Yes", ship: "FedEx", sdate: "2007-12-03" },
            { id: "67890", name: "Play Station", note: "note3", stock: "No", ship: "FedEx", sdate: "2007-12-03" },
            { id: "76543", name: "Mobile Telephone", note: "note", stock: "Yes", ship: "ARAMEX", sdate: "2007-12-03" },
            { id: "87654", name: "Server", note: "note2", stock: "Yes", ship: "TNT", sdate: "2007-12-03" },
            { id: "98765", name: "Matrix Printer", note: "note3", stock: "No", ship: "FedEx", sdate: "2007-12-03" }
        ];
        var lastsel = '';
        $("#list2").jqGrid({
            datatype: "local",
            data: data ,
            colNames: ['ID Number', 'Last Sales', 'Name', 'Stock', 'Ship via', 'Notes'],
            colModel: [
                { name: 'id', index: 'id', width: 150, sorttype: "int", editable: true},
                { name: 'sdate', index: 'sdate', width: 120, editable: true, sorttype: "date"},
                { name: 'name', index: 'name', width: 150, editable: true, editoptions: { size: "20", maxlength: "30" } },
                { name: 'stock', index: 'stock', width: 150, editable: true, edittype: "checkbox", editoptions: { value: "Yes:No" } },
                { name: 'ship', index: 'ship', width: 150, editable: true, edittype: "select", editoptions: { value: "FE:FedEx;IN:InTime;TN:TNT;AR:ARAMEX" } },
                { name: 'note', index: 'note', width: 250, sortable: false, editable: true, edittype: "textarea", editoptions: { rows: "2", cols: "10" } }
            ],
            onSelectRow: function (id) {
                jQuery('#list2').jqGrid('restoreRow', lastsel);
                jQuery('#list2').jqGrid('editRow', id, true, pickdates);
                lastsel = id;            
            },
            width: '800',
            height: 'auto',
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: '#pager2',
            sortname: 'id',
            viewrecords: true,
            //shrinkToFit: false, 
            caption: "補充應用 (1)",
            jsonReader: {
                repeatitems: false
            },
            loadComplete: function () {
                jqgridCustom.updatePagerIcons($(this));
                $("#" + 'list2').jqGrid('setGroupHeaders', {
                    useColSpanStyle: true,
                    groupHeaders: [
                        { startColumnName: 'sdate', numberOfColumns: 2, titleText: 'Column2' },
                        { startColumnName: 'stock', numberOfColumns: 3, titleText: 'Column3' },
                    ]
                });
            
            },
        });
        $("#list2").jqGrid('navGrid', '#pager2', { edit: false, add: false, del: false});
    });
    function pickdates(id) {
        jQuery("#" + id + "_sdate", "#list2").datepicker();
    }
</script>