@{
    ViewBag.Title = "HOMEWORK";
}
<div>
    <table id="list2"></table>
    <div id="pager2"></div>
</div>
<script type="text/javascript">
    $(function () {
        //homework

        //
    });
</script>