@{
    ViewBag.Title = "Set-Method (2)";
}
<div>
    <div>
        <a id="Add" href="#" class="btn btn-primary">Add Data</a>
        <a id="Edi" href="#" class="btn btn-primary">Edi Data</a>
        <a id="Del" href="#" class="btn btn-primary">Del Data</a>
    </div>
    <table id="list2"></table>
    <div id="pager2"></div>
</div>
<script type="text/javascript">
    $(function () {

        var data = [
            { id: "1", invdate: "2007-10-01", name: "test", note: "note", amount: "200.00", tax: "10.00", total: "210.00" },
            { id: "2", invdate: "2007-10-02", name: "test2", note: "note2", amount: "300.00", tax: "20.00", total: "320.00" },
            { id: "3", invdate: "2007-09-01", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00" },
            { id: "4", invdate: "2007-10-04", name: "test", note: "note", amount: "200.00", tax: "10.00", total: "210.00" },
            { id: "5", invdate: "2007-10-05", name: "test2", note: "note2", amount: "300.00", tax: "20.00", total: "320.00" },
            { id: "6", invdate: "2007-09-06", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00" },
            { id: "7", invdate: "2007-10-04", name: "test", note: "note", amount: "200.00", tax: "10.00", total: "210.00" },
            { id: "8", invdate: "2007-10-03", name: "test2", note: "note2", amount: "300.00", tax: "20.00", total: "320.00" },
            { id: "9", invdate: "2007-09-01", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00" }
        ];

        $("#list2").jqGrid({
            datatype: "local",
            data: data,
            //editurl:'', //
            colNames: ['Inv No', 'Date', 'Client', 'Amount', 'Tax', 'Total', 'Notes'],
            colModel: [
                { name: 'id', index: 'id', width: 55, editable: false, editoptions: { readonly: true, size: 10 } },
                { name: 'invdate', index: 'invdate', width: 80, editable: true, editoptions: { size: 10 } },
                { name: 'name', index: 'name', width: 90, editable: true, editoptions: { size: 25 } },
                { name: 'amount', index: 'amount', width: 60, align: "right", editable: true, editoptions: { size: 10 } },
                { name: 'tax', index: 'tax', width: 60, align: "right", editable: true, editoptions: { size: 10 } },
                { name: 'total', index: 'total', width: 60, align: "right", editable: true, editoptions: { size: 10 } },
                { name: 'note', index: 'note', width: 100, sortable: false, editable: true, edittype: "textarea", editoptions: { rows: "2", cols: "20" } }	
            ],
            width: 800,
            height: 'auto',
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: '#pager2',
            sortname: 'id',
            viewrecords: true,
            //sortorder: "desc",
            editurl: '@Url.Action("GetCacheData", "JQgrid")', // this is dummy existing url
            caption: "Set-Method (2)",
            loadComplete: function () {
                jqgridCustom.updatePagerIcons($(this));
            },
        });
        $("#list2").jqGrid('navGrid', '#pager2', { edit: false, add: false, del: false });
        $("#Add").click(function () {
            $("#list2").jqGrid('editGridRow', "new", { height: 280, reloadAfterSubmit: false });
        });
        $("#Edi").click(function () {
            var gr = $("#list2").jqGrid('getGridParam', 'selrow');
            if (gr != null) $("#list2").jqGrid('editGridRow', gr, { height: 280, reloadAfterSubmit: false });
            else alert("Please Select Row");
        });
        $("#Del").click(function () {
            var gr = jQuery("#list2").jqGrid('getGridParam', 'selrow');
            if (gr != null) jQuery("#list2").jqGrid('delGridRow', gr, { reloadAfterSubmit: false });
            else alert("Please Select Row to delete!");
        });
    });
</script>